@import url('https://fonts.googleapis.com/css2?family=Zain:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Zain', sans-serif;
}
